* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(30deg, #5093f8 0%, #b5d855 100%);
  color: white;
  min-height: 100vh;
}

h1 {
  padding: 10px 50px;
  text-align: center;
}

.headingContainer {
  margin: 10vh 0vw 10vh 0vw;
  border-radius: 5px;
  background-color: rgba(245, 222, 179, 0.274);
  box-shadow: 5px 5px rgba(223, 197, 151, 0.274);
}

.formContainer {
  margin: 3vh 0vw 6vh 0vw;
  padding: 2vh;
  border-radius: 5px;
  background-color: rgba(245, 222, 179, 0.274);
  box-shadow: 5px 5px rgba(223, 197, 151, 0.274);
}
.todoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 2vh;
  border-radius: 5px;
  background-color: rgba(245, 222, 179, 0.274);
  box-shadow: 5px 5px rgba(223, 197, 151, 0.274);
}

.todoItem {
  margin-bottom: 5px !important;
  margin-right: 0px !important;
}

.todoCheckbox,
.todoDelete {
  width: 100%;
  height: 100%;
  margin-bottom: 0px !important;
}
.todoListContainer {
  margin-bottom: 20px;
}

.checkboxDiv {
  padding-left: 0px !important;
}

.completed {
  text-decoration: line-through;
}
