* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(75deg, #8dcbf5 0%, #10175a 100%);
  color: white;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
form {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-input,
.todo-button {
  height: 30px;
}

.todo-input {
  width: 600px;
}

.todo-button {
  width: 100px;
  background-color: dimgray;
  color: white;
}
