* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #b8b8b8 !important;
  min-height: 100vh;
}

h1 {
  font-size: 4rem !important;
}

.headingContainer {
  margin: 10vh 0vw 10vh 0vw;
  text-align: center;
  color: #474747;
}

.formContainer {
  height: 50px;
  margin-bottom: 50px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.formInput,
.formButton,
.formDropdown,
.formDropdown .dropdown-toggle {
  width: 100%;
  height: 100% !important;
}

.todoContainer {
  height: 90px !important;
  align-items: center;
  margin-bottom: 5px !important;
}

.todoCheckbox,
.todoDelete {
  width: 100%;
  margin-bottom: 0px !important;
}

.todoListContainer {
  margin-bottom: 3vh !important;
  padding: 3vh 4vw 3vh 4vw;
}

.list-group {
  width: 100%;
}

.list-group-item {
  display: flex !important;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 5px;
  box-shadow: 3px 3px #cccccc;
}

.todoItem {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #ffffff !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #b96606 !important;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: #07920e;
  text-decoration-thickness: 3px;
  opacity: 0.5;
  border-bottom: 2px solid #07920e !important;
}

.noTodos {
  width: 100%;
  text-align: center;
  color: #b96606;
}

.noTodosFilter {
  font-weight: bold;
}
